*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100%;
}
.line{
    width: 2px;
    height: 20px;
    color: gray;
    margin-top: 5px;

}
.red-line{
    width: 2px;
    height: 20px;
    margin-left: 10px;
    padding-top: 5px;
    background-color: red;
}
#h{
    display: block;
    background-image: url("images/digi.gif");
    width: 100%;
    height: 60px;
    background-size: cover;
    margin: 0 auto;
}
#simg{
    background-size: cover;
    height: 32px;
    width: 32px;
    background-image: url("images/search.png");
}
header{
    width: 1910px;
    height: 100px;
    display: inline-block;
    margin: 0 auto;
}
.header-right{
    float: right;
    width: 1000px;
    margin-top: 10px;
    margin-right: 100px;
}
.header-right div{
    width: 500px;
    height: 40px;
    float: right;
    position: relative;
}
.logo{
    width: 115px;
    height: 30px;
    float: right;
    margin-top: 3px;
}
.search-img{
    width: 20px;
    height: 20px;
    right: 0;
    float: right;
    color: gray;
    position: absolute;
    margin: 9px 15px !important;
}
.input-search{
    width: 500px;
    height: 40px;
    float: right;
    right: 0;
    direction: rtl;
    border: 1px white solid;
    border-radius: 5px 5px 5px 5px;
    background-color: rgb(231, 231, 231);
    margin-right: 10px;

}
.header-left{
    width: 100px;
    height: 30px;
    margin-left: 100px;
    margin-top: 10px;
}
.login-img{
    width: 20px;
    height: 20px;
    margin-top: 3px;
    margin-right: 3px;
}
.basket{
    background-image: url("images/basket.png");
    width: 32px;
    height: 32px;
    margin-right: 5px;
}
.login-btn{
    background: white;
    border: solid gray 2px;
    width: 120px;
    text-align: center;
    border-radius: 30px;
    height: 60px;
    margin-top: auto;.ite
}
button:hover{
    box-shadow: black 0 0 10px;
}
.items li{
    display: inline;
    text-decoration: none;
    padding-right: 80px;
    float: right;
}
.items ul{
    height:40px ;
    padding-bottom: 10px;
}
.items a{
    text-decoration: none;
    color: gray;
}
.items li{
    margin-bottom: 10px;
}
.item-list ul{
    cursor: pointer;
    list-style: none;
    text-decoration: none;
    direction: rtl;
    height: 190px;
    text-align: center;
    align-items: center;
    margin-top: 20px;

}
.first-nav{
    width: 1910px;
    height: 35px;
    bottom: 0;
    display:  inline-block;
    float: right;
    box-shadow: #5d5858 0 0 5px;
    margin: 10px 0 20px 0;
}
.first-nav ul{
    height: 35px;
    margin-top: 3px;
