*{
    padding: 0;
    margin: 0;
}
.Header{
    width: 100%;
    height: 130px;
}
.Header-Gif{
    background: url('Image/Header-Gif.gif');
    background-size: cover;
    width: 100%;
    height: 60px;
}
.Logo_Shop{
    height: 30px;
    float: right;
    position: relative;
    top: 20px;
    right: 45px;
}
.Line-1{
    width: 100%;
    height: 70px;
    display: inline-block;
}
.Input-Search{
    float: right;
    position: relative;
    right: 60px;
    top: 16px;
}
.Input-Search input{
    height: 35px;
    width: 450px;
    border-radius: 5px;
    border: none;
    background: #ccc9c9;
    text-align: center;
}
.Icon-Search{

}
.Icon-Search img{
    height: 25px;
    position: absolute;
    right: 180px;
    top: 80px;
}
